{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ recipe_object.title }} - Scrumptious Recipes</title>
    <link rel="stylesheet" href="{% static "css/recipes.css" %}">
</head>

<body>
    <header>
        <nav>
            <a href="{% url 'recipe_list' %}">Recipe List</a>
            <a href="{% url 'create_recipe' %}">Create Recipe</a>
        </nav>
    </header>
    <main class="ingredients-main">
        <h1>{{ recipe_object.title }}</h1>
        <h2><a href="{% url 'edit_recipe' id=recipe_object.id %}">Edit</a></h2>
        <img src="{{ recipe_object.picture }}" alt="scrumptious plate of tacos">
        <div>
            <p>4.3 stars</p>
            <p>{{ recipe_object.description }}</p>
        </div>
        <div class="ingredients-div">
            <h2>Ingredients</h2>
            <table>
                <thead>
                    <tr class="category">
                        <th>Amount</th>
                        <th>Food item</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1 cup</td>
                        <td>Green beans</td>
                    </tr>
                    <tr>
                        <td>3 ears</td>
                        <td>Fresh cord</td>
                    </tr>
                    <tr>
                        <td>2 cups</td>
                        <td>Tomatillo salsa</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>Corn tortillas</td>
                    </tr>
                    <tr>
                        <td>0.5 cups</td>
                        <td>Cotija cheese</td>
                    </tr>
                </tbody>
            </table>
            <h2>Steps</h2>
            <ol>
                <li>Blanch the green beans</li>
                <li>Grill the green beans and the ears of corn</li>
                <li>Chop the green beans</li>
                <li>Slice the corn off the cob</li>
                <li>Grill the tortillas</li>
                <li>Assemble the tacos with veggies, salsa, and cheese</li>
            </ol>
        </div>
    </main>
    <footer>
        <p>Made with love by Scrumptious Recipes 2023</p>
    </footer>
</body>

</html>
