{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scrumptious Recipes</title>
    <link rel="stylesheet" href="{% static "css/recipes.css" %}">
</head>

<body>
    <header>
        <nav>
            <a href="{% url 'recipe_list' %}">Recipe List</a>
            <a href="{% url 'create_recipe' %}">Create Recipe</a>
        </nav>
    </header>
    <main>
        <h1>Scrumptious Recipes</h1>
        <div class="background-div">

            <h2>All the food that's fit to eat!</h2>
            <div class="container">
                {% for recipe in recipe_list %}
                <div class="recipe-item">
                    <h3><a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a></h3>
                    <img src="{{ recipe.picture }}" alt="a picture representing the photo">
                    <p>{{ recipe.created_on|date:"M Y" }}</p>
                    <p>4.3 stars</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>
    <footer>
        <p>Made with love by Scrumptious Recipes 2023</p>
    </footer>

</body>

</html>
